body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    text-align: center;
}

h1 {
    color: gainsboro;
}

input[type="button"] {
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 18px;
    border-radius: 5%;
}

input[type="text"] {
    width: 200px;
    height: 50px;
    font-size: 18px;
    text-align: right;
    padding-right: 5px;
    margin-bottom: 10px;
    border-radius: 5%;
}

.calcBody {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(22, 15, 151) 0%, rgb(81, 81, 232) 35%, rgba(0,212,255,1) 100%);
    margin: 0px 550px;
    padding: 5px;
    border: 3px solid black;
    border-radius: 7%;
}
